@media screen and (max-width: 576px) {
  header,
footer,
main {
  margin: 0 20px;
}
  nav {
    width: 95%;
    margin: 0 auto;
  }
  .nav-links li {
    display: none;
  }
  .nav-links li:last-child {
    display: block;
  }
  #home {
    flex-direction: column;
  }
  .home-image {
    max-width: 100%;
    width: 100%;
    order: -1;
  }
  .description {
    max-width: 100%;
    text-align: left;
    padding: 20px;
  }
  .plant-card {
    flex: 45%;
    margin: 10px 20px;
  }
  .loverContainer img{
    display: none;
  }
    .loverContainer {
        flex-direction: column;
        align-items: center;
    }
    .loverImage{
        width: 100%;
        height: 1200px;
    }
}
