/* 
color: #E95A08;
black: #000000;

*/

.inter-regular {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.inter-medium {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.inter-bold {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.inter-bolder {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-style: normal;
}
.noto-serif-regular {
  font-family: "Noto Serif", serif;
  font-weight: 400;
  font-style: normal;
}
.noto-serif-medium {
  font-family: "Noto Serif", serif;
  font-weight: 600;
  font-style: normal;
}
.noto-serif-bold {
  font-family: "Noto Serif", serif;
  font-weight: 700;
  font-style: normal;
}
.noto-serif-bolder {
  font-family: "Noto Serif", serif;
  font-weight: 800;
  font-style: normal;
}

.primary-color {
  color: #e95a08;
}
.secondary-color {
  color: #000000;
}
.third-color {
  color: #00000079;
}
.white-color {
  color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
  font-size: 22px;
  color: #00000077;
}
a {
  text-decoration: none;
  color: #000000;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
header,
footer,
main {
  width: 1250px;
  margin: 0 auto;
}
.title {
  font-family: "Noto Serif", serif;
  font-weight: 700;
  font-size: 65px;
  color: #000000;
}
.title-highlight {
  color: #e95a08;
}

/* Header */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  background-color: #ffffff;
}
.logo img {
  width: 100px;
}
.nav-links {
  display: flex;
  gap: 20px;
}
.nav-links li a {
  display: flex;
  gap: 2px;
  color: #0000006c;
}
.nav-links li a:hover {
  color: #e95a08;
}
.nav-links li:first-child a {
  color: #000000;
}
.nav-links li:last-child span {
  color: #000000;
}
.cart img {
  width: 30px;
}



/* Home */
#home {
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0;
  
}
.home-image {
  background-image: url("../assets/hero-flower.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom right;
  width: 600px;
  height: 500px;
}
.description {
  max-width: 600px;
}

